.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("./images/background.jpg");
  background-size: cover;
    
  font-size: 14px;
  font-family: sans-serif;
}

